<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order_checkout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script src="https://kit.fontawesome.com/9b1b322d51.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <header>
    <nav class="nav_bar">
      <div class="container_fluid">
        <a href="/" class="logo"><i class="fas fa-utensils"></i></a>
        <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
      </div>
    </nav>
  </header>
  <main>

    <h3>Your Order</h3>

    <section class="final_order">
      <div class="order_reciept">
        <% for (let item in orders) { %>
        <div class="item">
          <span><%=orders[item].itemName%></span>
          <span>$<%=orders[item].unitPrice%>*<%=orders[item].numberOfItem%></span>
          <span>$<%=orders[item].totalPrice%></span>
        </div>
        <% } %>
         <div class="total_amount">
          <div class="amount">
            <span>Sub Total</span> <span> <%= subTotal %> </span>
          </div>
          <div class="amount">
            <span>Tax</span> <span> <%= tax %> </span>
          </div>
          <div class="amount">
             <span>Total</span> <span><%= totalAmount %></span>
          </div>
        </div>
      </div>
      <form action="/orders" method="post">

        <label for="telephone">Phone</label>
        <input id= "telephone" name="telephone" type="tel" placeholder="Enter your phone number e.g. 123-234-1234">
        <label for="cname"> Name </label>
        <input id= "telephone" name="cname" type="text" placeholder="Enter your name e.g. Jane Doe">
        <button id= "name-form" name="order" class="btn" type="submit" value="<%= JSON.stringify(orders) %>">Checkout</button>
      </form>

    </section>

  </main>

  <footer>
    <p>All copyrights reserved</p>
  </footer>


</body>

</html>
