<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order_checkout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/common.css" type="text/css" />
  <script src="https://kit.fontawesome.com/9b1b322d51.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  
  <%- include('partials/header') %>

  <main class="order_main">
    <h3 class="menu_select">Your Order</h3>
    <section class="final_order">
      <div class="order_reciept">
            <h5>Order Receipt</h5>
          <% for (let item in orders) { %>
            <div class="order_item">
              <span><%=orders[item].itemName%></span>
              <span>$<%=orders[item].unitPrice%>*<%=orders[item].numberOfItem%></span>
              <span>$<%=orders[item].totalPrice%></span>
            </div>
            <% } %>
            <div class="total_amount">
              <div class="amount">
                <span>Sub Total</span> <span> <%= subTotal %> </span>
              </div>
              <div class="amount">
                <span>Tax</span> <span> <%= tax %> </span>
              </div>
              <div class="amount">
                 <span>Total</span> <span><%= totalAmount %></span>
              </div>
            </div>
           
      </div>
      <form action="/orders" method="post">
        <div class="customer_info">
            <h5> Customer Info</h5>
            <label for="telephone">Enter Your Phone : </label>
            <input id= "telephone" name="telephone" type="tel" placeholder="format 1232341234">

            <label for="cname"> Enter Your Name : </label>
            <input id= "cname" name="cname" type="text" placeholder="Your Name">


            <button name="order" class="btn btn-dark" type="submit" value="<%= JSON.stringify(orders) %>">
              <span>Checkout <i class="fa fa-mobile" aria-hidden="true"></i></span>
            </button>

      </form>

    </div>

    </section>
  </main>

  

  <%- include('partials/footer') %>


</body>

</html>
