<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/restaurant.css" type="text/css" />
  <link rel="stylesheet" href="/styles/common.css" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9b1b322d51.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/header') %>
 
  <main>
    <!-- <% if (typeof script === 'string') {%>
      <div id='err_msg'>
        <%= script %>
      </div>
      <% } %> -->

    <section class="order_queue">


      <form action="/restaurant" method="post">
        <button class="btn-danger"  type="submit">Populate Orders</button>
      </form>

      <div class="orders">
        <div class="container">
          <div class="row">
            <% if (typeof orderQueue === 'object') { %>
              <% for (let item of orderQueue)  { %>
                <div class="col">
                  <div class="card border-success order mb-3" style="max-width: 18rem;">
                    <div class="card-header text-success">Order ID : <%= item.id %></div>
                    <div class="card-body ">
                      <p class="card-text fs-6 fst-italic">  <%= item.customer_name %> : <%= item.customer_phone %></p>

                      <% const itemArr = JSON.parse(JSON.parse(item.customer_order)[0].item_names); %>

                      <% const menuItemArr = JSON.parse(JSON.parse(item.customer_order)[0].menu_items); %>
                      <% for (let i = 0; i < itemArr.length; i++) {  %>

                        <p class="card-text"><span><%= itemArr[i] %></span> <span><%=  menuItemArr[i][1] %></span></p>
                      <% } %>

                     <form action="/finish" method="post">
                       <button type="submit" class="btn btn-success" name="order" value="<%= item.id %>">Finish</button>
                      </form>
                    </div>

                  </div>
                </div>

                <% } %>
            <% } %>

          </div>
        </div>

      </div>


    </section>
  </main>

  <%- include('partials/footer') %>


</body>

</html>

